<nav>
	<div class="nav-wrapper white">
		<a [routerLink]="['']" class="brand-logo pointer">RPZ Makeathon</a>
		<a data-activates="slide-out" class="button-collapse pointer"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a [routerLink]="['']">Home</a></li>
			<li><a [routerLink]="['about']">About</a></li>
			<li><a class="dropdown-button" href="#!" data-activates="planning">Planning a RPZ<i class="material-icons right">arrow_drop_down</i></a></li>
		</ul>
		<ul id="slide-out" class="side-nav">
			<li class="logo" [routerLink]="['']" ><div class="brand-logo pointer"><img src="rpz.png" class="responsive-img"></div></li>
			
			<li >
				<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
					<li>
						<a class="collapsible-header waves-effect waves-grey">First</a>
						<div class="collapsible-body">
							<ul>
								<li>ASDFASDF</li>
								<li>ZXCVZXCV</li>
							</ul>
						</div>
					</li>
					<li>
						<a class="collapsible-header waves-effect waves-grey">Second</a>
						<div class="collapsible-body">
							<ul>
								<li>First Link</li>
								<li>Link</li>
							</ul>
						</div>
					</li>
					<li>
						<a class="collapsible-header waves-effect waves-grey">Third</a>
						<div class="collapsible-body">
							<ul>
								<li>Link</li>
								<li>Link</li>
							</ul>
						</div>
					</li>
				</ul>

			</li>
		</ul>
		
	</div>
</nav>

<ul id="planning" class="dropdown-content">
	<li><a [routerLink]="['planning', 'materials']">Materials</a></li>
	<li><a [routerLink]="['about']">Sample Application for Participants</a></li>
	<li><a [routerLink]="['about']">Sample Schedule</a></li>
</ul>


