<nav>
	<div class="nav-wrapper white">
		<a (click)="goTo([''])" class="brand-logo pointer">RPZ Makeathon</a>
		<a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a (click)="goTo([''])">Home</a></li>
			<li><a (click)="goTo(['about'])">About</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a (click)="goTo([''])">Home</a></li>
			<li><a (click)="goTo(['about'])">About</a></li>
		</ul>
	</div>
</nav>