<h3>Materials</h3>
<div>
	<h4><a name="TOC-Tools"></a>Tools</h4>
	<div>
	<table class="striped">
		<tbody>
				<tr>
					<td><strong>Tool</strong></td>
					<td><strong>Quantity</strong></td>
				</tr>
				<tr>
					<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=box+cutter+knife" target="_blank">Box cutting knives</a></td>
					<td>5</td>
				</tr>
				<tr>
					<td>Scissors</td>
					<td>5</td>
				</tr>
				<tr>
					<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=glue+guns" target="_blank">Glue guns</a></td>
					<td>6</td>
				</tr>
				<tr>
					<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbs=vw:l,mr:1,price:1,ppr_max:30&amp;tbm=shop&amp;q=wire+strippers+30+AWG" target="_blank">Wire strippers</a></td>
					<td>1</td>
				</tr>
				<tr>
					<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=phillips+screwdriver+small" target="_blank">Philips Screwdriver, small</a></td>
					<td>4</td>
				</tr>
				<tr>
					<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=hacksaw+compact" target="_blank">Hacksaw</a></td>
					<td>1</td>
				</tr>
				<tr>
					<td><a href="https://www.google.com/webhp?hl=en#q=needle+nose+pliers&amp;hl=en&amp;tbm=shop" target="_blank">Needlenose pliers</a></td>
					<td>2</td>
				</tr>
				<tr>
					<td>Camera (still &amp; video)</td>
					<td>1</td>
				</tr>
			</tbody>
		</table>
	</div>
	<h4><a name="TOC-Electronics-Computing"></a>Electronics/Computing</h4>
	<div>
		<div>
			<table class="striped">
				<tbody>
					<tr>
						<td><strong>Material</strong></td>
						<td><strong>Quantity</strong></td>
					</tr>
					<tr>
						<td><a href="https://www.google.com/webhp?hl=en#q=power+strips&amp;hl=en&amp;tbm=shop" target="_blank">Power strips</a></td>
						<td>3</td>
					</tr>
					<tr>
						<td><a href="https://www.google.com/webhp?hl=en#q=extension+cords&amp;hl=en&amp;tbs=vw:l&amp;tbm=shop&amp;start=20" target="_blank">Extension cords</a></td>
						<td>5</td>
					</tr>
					<tr>
						<td><a href="http://store.birdbraintechnologies.com/product-p/hb-batt.htm" target="_blank" rel="nofollow">Battery packs for Hummingbird</a></td>
						<td>8</td>
					</tr>
					<tr>
						<td>Laptops</td>
						<td>8</td>
					</tr>
					<tr>
						<td><a href="http://store.birdbraintechnologies.com/product-p/duocntlkit.htm" target="_blank" rel="nofollow">Hummingbird controller</a></td>
						<td>8</td>
					</tr>
					<tr>
						<td><a href="http://store.birdbraintechnologies.com/product-p/hbps5v2a.htm" target="_blank" rel="nofollow">Hummingbird power supply</a></td>
						<td>8</td>
					</tr>
					<tr>
						<td><a href="http://store.birdbraintechnologies.com/product-p/hbusb.htm" target="_blank" rel="nofollow">Hummingbird usb cable</a></td>
						<td>8</td>
					</tr>
					<tr>
						<td>Hummingbird terminal tool</td>
						<td>8</td>
					</tr>
					<tr>
						<td><a href="http://store.birdbraintechnologies.com/product-p/hs311.htm" target="_blank" rel="nofollow">Servos</a></td>
						<td>32</td>
					</tr>
					<tr>
						<td><a href="http://store.birdbraintechnologies.com/product-p/gearmotor.htm" target="_blank" rel="nofollow">Gear motors</a></td>
						<td>16</td>
					</tr>
					<tr>
						<td><a href="http://store.birdbraintechnologies.com/product-p/vbrmotor.htm" target="_blank" rel="nofollow">Vibration motors</a></td>
						<td>16</td>
					</tr>
					<tr>
						<td><a href="http://store.birdbraintechnologies.com/product-p/sensedist.htm" target="_blank" rel="nofollow">Distance sensors</a></td>
						<td>16</td>
					</tr>
					<tr>
						<td><a href="http://store.birdbraintechnologies.com/product-p/senselight.htm" target="_blank" rel="nofollow">Light sensors</a></td>
						<td>16</td>
					</tr>
					<tr>
						<td><a href="http://store.birdbraintechnologies.com/product-p/senseknob.htm" target="_blank" rel="nofollow">Knob sensors</a></td>
						<td>16</td>
					</tr>
					<tr>
						<td><a href="http://store.birdbraintechnologies.com/product-p/ledtri.htm" rel="nofollow">Tri color LED</a></td>
						<td>16</td>
					</tr>
					<tr>
						<td><a href="http://store.birdbraintechnologies.com/product-p/singleled.htm" target="_blank" rel="nofollow">Regular LED, red</a></td>
						<td>20</td>
					</tr>
					<tr>
						<td><a href="http://store.birdbraintechnologies.com/product-p/singleled.htm" target="_blank" rel="nofollow">Regular LED, orange</a></td>
						<td>20</td>
					</tr>
					<tr>
						<td><a href="http://store.birdbraintechnologies.com/product-p/singleled.htm" target="_blank" rel="nofollow">Regular LED, yellow</a></td>
						<td>20</td>
					</tr>
					<tr>
						<td><a href="http://store.birdbraintechnologies.com/product-p/singleled.htm" target="_blank" rel="nofollow">Regular LED, green</a></td>
						<td>20</td>
					</tr>
				</tbody>
			</table>
			<h4><a name="TOC-Craft-Materials"></a>Craft Materials</h4>
			<div>
				<div>
					<table class="striped">
						<tbody>
							<tr>
								<td><strong>Material</strong></td>
								<td><strong>Quantity</strong></td>
							</tr>
							<tr>
								<td>Cardboard, varying sizes</td>
								<td>Many boxes</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=pipe+cleaners" target="_blank">Pipe cleaners</a></td>
								<td>200</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=craft+buttons" target="_blank">Bag of buttons</a></td>
								<td>1</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=glue+gun+sticks" target="_blank">Glue sticks</a></td>
								<td>100+</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=construction+paper" target="_blank">Construction paper</a></td>
								<td>100-200 sheets, various colors</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=craft+multicolor+foam+sheets" target="_blank">Multicolor foam</a></td>
								<td>100 5 x 7" sheets, various colors</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=craft+felt+assorted+colors" target="_blank">Felt</a></td>
								<td>100+ sheets, various colors</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=styrofoam+balls+floracraft" target="_blank">Styrofoam balls, various sizes</a></td>
								<td>40-50</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=jumbo+craft+sticks">Jumbo craft sticks</a></td>
								<td>500</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=duct+tape+assortment" target="_blank">Duct tape</a></td>
								<td>5-6 rolls, multiple colors</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=electrical+tape+assortment" target="_blank">Electrical tape</a></td>
								<td>3-4 rolls, multiple colors</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=cable+ties" target="_blank">Cable ties</a></td>
								<td>100, large size</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=brass+plated+roundhead+fasteners" target="_blank">Brad fasteners</a></td>
								<td>200</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=pom+poms+craft">Pom poms</a></td>
								<td>Bag</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=feathers+assorted+craft+colored" target="_blank">Feathers</a></td>
								<td>Bag</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=googly+eyes+assorted" target="_blank">Googly eyes</a></td>
								<td>Box, 100+</td>
							</tr>
							<tr>
								<td>String</td>
								<td>50'</td>
							</tr>
							<tr>
								<td>Rubber bands, small and large</td>
								<td>50 of each</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=dowel+rods" target="_blank">Dowel rods</a></td>
								<td>25 1/4" diameter 36" pieces</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=balsa+wood+assortment" target="_blank">Balsa wood</a></td>
								<td>2 6" x 36" sheets</td>
							</tr>
							<tr>
								<td><a href="https://www.google.com/webhp?hl=en#hl=en&amp;tbm=shop&amp;q=thumbtacks" target="_blank">Thumbtacks</a></td>
								<td>50</td>
							</tr>
							<tr>
								<td>Paper clips</td>
								<td>50</td>
							</tr>
							<tr>
								<td>Linkage pieces (see instructions below)</td>
								<td>100</td>
							</tr>
							<tr>
								<td>Markers</td>
								<td>Many, various colors</td>
							</tr>
							<tr>
								<td>Paint</td>
								<td>Various colors</td>
							</tr>
							<tr>
								<td><a href="http://store.birdbraintechnologies.com/product-p/gmwheel.htm" target="_blank" rel="nofollow">Wheels for Gear motor</a></td>
								<td>25</td>
							</tr>
							<tr>
								<td><a href="http://www.123dapp.com/123D_Design/Crankshafts-for-Robot-Petting-Zoo/5171141" target="_blank" rel="nofollow">3D printed crankshafts (optional)</a></td>
								<td>10</td>
							</tr>
							<tr>
								<td><a href="http://www.123dapp.com/123D_Design/Attach-Dowel-Rod-to-Motor/5171147" target="_blank" rel="nofollow">3D printed parts to hold dowel rods to gear motors (optional)</a></td>
								<td>10</td>
							</tr>
							<tr>
								<td><a href="http://www.hummingbirdkit.com/learning/3d-printing-and-hummingbird" target="_blank" rel="nofollow">3D printed pulleys (optional)</a></td>
								<td>10</td>
							</tr>
						</tbody>
					</table>
				</div>
				<h4><a name="TOC-Other"></a>Other</h4>
				Roster<br /> Signs for Doors<br /> Permission forms/Photo release forms<br /> Nametags<br /> Instructional materials<br /> Food (depends on your schedule and preferences)
				</div>
				<h3><a name="TOC-Instructions-for-Linkage-Pieces"></a>Instructions for Linkage Pieces</h3>
				<img src="linkages.png" class="responsive-img" />Jumbo craft sticks can be used to create linkages, as seen in the instructions for the practice llama. You can use a hand drill to make these pieces. Stack about 10 jumbo craft sticks together and secure them with tape. Then drill either three or five holes through the bundle of sticks (one or two craft sticks may not survive this process). To make uniform linkage pieces, use one of the first group of drilled craft sticks to mark the hole positions on the other bundles. The linkage pieces can be connected with brad fasteners.
				</div>
			</div>
</div>
<br>
<br>
<br>
<br>