<h3>Sample Schedule</h3>

<table class="striped">
	<thead>
		<tr>
			<th>Activity</th>
			<th>Time</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Introduction to the RPZ Makeathon, the Hummingbird robotics kit, Scratch, and mechanisms for robot animals</td>
			<td>&nbsp;~3</td>
		</tr>
		<tr>
			<td>Building a Practice Animal</td>
			<td>&nbsp;~2</td>
		</tr>
		<tr>
			<td>Brainstorming and Sketching Plans</td>
			<td>&nbsp;~1</td>
		</tr>
		<tr>
			<td>Building, Testing, and Programming</td>
			<td>&nbsp;7-15</td>
		</tr>
		<tr>
			<td>Preparing for Petting Zoo</td>
			<td>&nbsp;~1</td>
		</tr>
		<tr>
			<td>Petting Zoo Open to Visitors</td>
			<td>&nbsp;1-4</td>
		</tr>
		<tr>
			<td>Remove Hummingbird Components/Clean up</td>
			<td>&nbsp;~1</td>
		</tr>
	</tbody>
</table>